<h1>HELLO route ingrid</h1>
{{outlet}}


  <!-- <h3>{{model.id}}</h3>
  <p>{{model.timestamp}}</p>
  <p>By: {{model.lang}}</p> -->
  <h2>Action: {{model.result.action}}</h2>
  <h2>Speech: {{model.result.speech}}</h2>
